
article p, article li, article li.build {
	font-size: 32px;
}

.reference li {
	font-size: 18px;
	text-align: left;
}

.centered-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	/* For general browser */
  	max-width: 100%;
  	max-height: 100%;
}